In [1]:
import pandas as pd
df_demo = pd.read_csv("df_final_demo.txt", sep=",")
df_final = pd.read_csv('df_final_experiment_clients.txt', sep=',')
df_web_data = pd.read_csv('df_final_web_data_pt_1.txt', sep=',')
df_web_data_pt_2 = pd.read_csv('df_final_web_data_pt_2.txt', sep=',')

In [2]:
df_demo.columns
df_final.columns
df_web_data.columns
df_web_data_pt_2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [3]:
df_web = pd.concat([df_web_data, df_web_data_pt_2], ignore_index=True)

In [4]:
df_demo = df_demo.drop_duplicates()
df_final = df_final.drop_duplicates()
df_web = df_web.drop_duplicates()

In [7]:
df_demo.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [ ]:
df_final.describe(include='all')

In [ ]:
df_web.describe(include='all')

In [ ]:
df_demo.isna().mean().sort_values(ascending=False)
#mine field 1

In [ ]:
df_web.isna().mean().sort_values(ascending=False)

In [8]:
df_demo[['client_id', 'gendr']].head(20)

    client_id gendr
0      836976     U
1     2304905     U
2     1439522     U
3     1562045     M
4     5126305     F
5     3727881     U
6      272934     U
7      388801     M
8      285619     M
9     8198645     F
10    8368822     U
11    2537139     U
12    2208717     U
13    2214073     M
14    2368987     U
15    2892152     U
16    4536541     U
17    3788589     M
18     719792     F
19    5904035     U

In [9]:
df_demo[['clnt_age', 'clnt_tenure_yr']].median()

clnt_age          47.0
clnt_tenure_yr    11.0
dtype: float64

In [10]:
df_demo[['clnt_age', 'clnt_tenure_yr']].quantile([0.25, 0.5, 0.75])

      clnt_age  clnt_tenure_yr
0.25      32.5             6.0
0.50      47.0            11.0
0.75      59.0            16.0

The online process is primarily used by older, long-standing clients, as reflected by higher median age and tenure values.

In [11]:
# client behavioural trends