In [1]:
import pandas as pd
df_demo = pd.read_csv("../data/raw/df_final_demo.txt", sep=",")
df_final = pd.read_csv('../data/raw/df_final_experiment_clients.txt', sep=',')
df_web_data = pd.read_csv('../data/raw/df_final_web_data_pt_1.txt', sep=',')
df_web_data_pt_2 = pd.read_csv('../data/raw/df_final_web_data_pt_2.txt', sep=',')

In [2]:
print(df_demo.columns)
print(df_final.columns)
print(df_web_data.columns)
print(df_web_data_pt_2.columns)

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')
Index(['client_id', 'Variation'], dtype='object')
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [3]:
df_web = pd.concat([df_web_data, df_web_data_pt_2], ignore_index=True)

In [4]:
df_demo = df_demo.drop_duplicates()
df_final = df_final.drop_duplicates()
df_web = df_web.drop_duplicates()

In [5]:
df_demo.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [6]:
df_final.describe(include='all')

           client_id Variation
count   7.060900e+04     50500
unique           NaN         2
top              NaN      Test
freq             NaN     26968
mean    5.004992e+06       NaN
std     2.877278e+06       NaN
min     1.690000e+02       NaN
25%     2.519329e+06       NaN
50%     5.016978e+06       NaN
75%     7.483085e+06       NaN
max     9.999839e+06       NaN

In [7]:
df_web.describe(include='all')

,client_id,visitor_id,visit_id,process_step,date_time
count,7.446410e+05,744641,744641,744641,744641
unique,NaN,130236,158095,5,629363
top,NaN,699275239_82397698587,712824876_8175482950_365042,start,2017-03-29 11:24:54
freq,NaN,74,61,234999,14
mean,5.014059e+06,NaN,NaN,NaN,NaN
std,2.879588e+06,NaN,NaN,NaN,NaN
min,1.690000e+02,NaN,NaN,NaN,NaN
25%,2.521851e+06,NaN,NaN,NaN,NaN
50%,5.031965e+06,NaN,NaN,NaN,NaN
75%,7.497388e+06,NaN,NaN,NaN,NaN
max,9.999875e+06,NaN,NaN,NaN,NaN

In [8]:
df_demo.isna().mean().sort_values(ascending=False)
#mine field 1

clnt_age            0.000212
num_accts           0.000198
clnt_tenure_yr      0.000198
clnt_tenure_mnth    0.000198
gendr               0.000198
calls_6_mnth        0.000198
bal                 0.000198
logons_6_mnth       0.000198
client_id           0.000000
dtype: float64

In [9]:
df_web.isna().mean().sort_values(ascending=False)

client_id       0.0
visitor_id      0.0
visit_id        0.0
process_step    0.0
date_time       0.0
dtype: float64

In [10]:
df_demo[['client_id', 'gendr']].head(20)

    client_id gendr
0      836976     U
1     2304905     U
2     1439522     U
3     1562045     M
4     5126305     F
5     3727881     U
6      272934     U
7      388801     M
8      285619     M
9     8198645     F
10    8368822     U
11    2537139     U
12    2208717     U
13    2214073     M
14    2368987     U
15    2892152     U
16    4536541     U
17    3788589     M
18     719792     F
19    5904035     U

In [11]:
df_demo[['clnt_age', 'clnt_tenure_yr']].median()

clnt_age          47.0
clnt_tenure_yr    11.0
dtype: float64

In [12]:
df_demo[['clnt_age', 'clnt_tenure_yr']].quantile([0.25, 0.5, 0.75])

      clnt_age  clnt_tenure_yr
0.25      32.5             6.0
0.50      47.0            11.0
0.75      59.0            16.0

The online process is primarily used by older, long-standing clients, as reflected by higher median age and tenure values.

In [13]:
df_users = df_demo.merge(
    df_final,
    on="client_id",
    how="inner"
)

In [14]:
df = df_users.merge(
    df_web,
    on="client_id",
    how="inner"
)

In [15]:
df.to_csv("Alan-age-gender-tenure.csv", index=False)